body {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(143, 25, 113);
  color: white;
  padding: 0 0 0 0;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 103px;
  right: 50px;
  height: 50px;
  width: 50px;
    opacity: 0.8;
  text-align : center;
  border-style : solid;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 75px;
  right: 15px;
  border: 3px solid #762877;
  z-index: 9;
  background-repeat : no-repeat;
  border-radius : 10px;
  width : 20%;
}

.form-container {
  border: none;
  cursor: pointer;
  width: 80%;
  height : 30px;
  
}

/* Set a style for the submit/send button */
.form-container .btn {
  color :#762877;
  border: none;
  cursor: pointer;
  width: 15%;
  height : 115%;
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  text-align : center;
  border-radius : 20%;
  bottom: 0px;
  left: 110%;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

h1 {
  font-size: 1.5em;
}

ul {
  padding: 10px;
  list-style-type: none;
}

#chatlogs{
  display : flex;
  flex-flow : row wrap;
  align-items : flex-start;
  margin-bottom : 10px;
}

#chatbox {
  height: 250px;
  width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;

}
#chatbox::-webkit-scrollbar{
  width : 10px;
}

#chatbox::-webkit-scrollbar-thumb{
  background : rgba(0, 0, 0, .1);
  border-radius : 5px;
}

#you-logs {
  border-radius: 10px;
	padding: 5px;
  height: 50%;
  width: 100%;
}

#you-message {
  background-color: rgb(199, 37, 145);
  color: white;
  text-align: right;
  width: 75%;
  float: left;
	border-radius: 10px;
	padding: 5px;
	border-top: 13px solid transparent;
  border-right: 26px solid white;
	border-bottom: 13px solid transparent;

}


#bot-logs {
	border-radius: 10px;
	padding: 5px;
  height: 50%;
  width:100%;
}

#bot-message {
  background-color: #3d0d39;
  color :white;
  width: 75%;
  float: right;
	border-radius: 10px;
	padding: 5px;
	 border-top: 13px solid transparent;
   border-left: 26px solid white;
	 border-bottom: 13px solid transparent;
   width: 75%;
}


#bottom-container {
  width : 100%;
  height : 50px;
  border : 2px solid #eee;
  border-radius  : 3px;
  resize : none;
  padding : 10px;
  font-size : 18px;
  border-style : dotted;
  }

#name {
  width : 97%;
  height  : 50px;
}

#add-btn{
  width : 20%;
  height : 50px;
  font-size : 5px;
  font-size : 20px;
  text-align: center;
}