body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    background-color: #d4d4e9;
    color: #762877;  
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    
}
h3 {
    text-align: center;
}

/* .wrapper {
    width: 100%;
}

header {
    width: 100%;
    padding: 40px 0;
} */
/* 
.logo {
    width: 100%;
    font-size: 48px;
    margin: auto;    

} */

/* .logo img {
    margin: auto;
    margin-left: 42%;
    width: 16%;
    margin-top: 15px;
} */

/* .title {
    
    font-size: 48px;
    margin: auto; 
    text-align: center;
} */


/* -------------- MENU --------------------------- */


.form {
    float: right;
    padding-top: 110px; 
    clear: both;
}

nav {
    width: 100%;
    padding: 10px 0;
    color: #762877;
    background-color: #9494b8;
    text-align: center;   
}

/*FORM RECHERCHE*/

.recherche {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    margin-top: 5px;
}

.recherche input, select {
    padding: 5px;
    border-radius: 4px;
    background-color: #d4d4e9;
    border: solid 3px #762877;
    margin: 2px;
}

.recherche input, select:hover {
    border: solid 3px #a01259;
}

.recherche #button_nav {
    margin-top: -5px;
    padding : -5px;
}


/*-------------------------------------*/

.selection {
    
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selection p {
    width: 24%;
} 

.selection a img {
    width: 100%;
    margin: auto;
} 

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 15px;
    height: 35px;
    line-height: 260%;
    display: inline-block;
}

ol a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li {
    float: left;
    width: 180px;
    height: 40px;
    border-right: 1px dashed  #762877;  
}

ol > li:first-child {
    border-left: 1px dashed #762877;
}

ol > li:hover {
    color: #ffffff; 
}

ol > li:hover > a {
    color: #ffffff;
   background-color: #762877;   
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
    color: #762877;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {
    background-color: #b3b3cc;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #762877;
}

ol > li > ul > li:hover {
    background-color: #963597;  
}

/* ------------------- CONTENT ------------------------*/

/* .content {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
} */


/* ------------------- CONTAINER ------------------------*/


.container {
    width: 100%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.content_item {
    border: 3px solid red;
}

.produit  {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    border: 3px solid yellow;
}

.produit .info {
    width: 50%;
    border: 3px solid purple;
}

.produit .photo {
    width: 100%;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    border: 3px solid blue;
}

.produit button .myBtn {
    text-align: center;
}


.overlay {
    position: relative;
    border: 3px solid green;
}


.overlay .link {
    position: absolute;
    display: block;
    width: 100%;
    height: 75px;
    background-color: #9494b8;
    left: 0px;
    bottom: 40%;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay:hover .link {
    opacity: 0.8;
}

.produit .photo .overlay a {
    color: #ffffff;
    text-decoration: none;
}

.produit .photo .overlay a img {
    width: 100%;
}

.produit p {
    text-align: center;
}

.note {
    display: flex;
    justify-content: center;
    border: 2px solid rebeccapurple;
}

.note p, button, form {
    margin: auto;
}

/*-------------------MODAL-------------------*/
div[id^='modal'] {
    border: 2px solid red;
    width: 60%;
    background-color: #ffffff;
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 20%;
    top: 20vh;
    height: 55vh; /* Full height */
    overflow-x: hidden; /* Enable scroll if needed */
    overflow-y: auto; /* Enable scroll if needed */
}

.modal-header, .modal-footer {
    padding: 2px 0;
    position: absolute;
    background-color: #4f1b50;
    color: rgb(233, 220, 220);
    width: 100%;
}

.modal-header {
    top: 0;
}

.modal-footer {
    bottom: 0;
}

.modal-body {
    width: 100%;
    display: flex;
    justify-items: center;
}

.modal-body img {
    width: 25%;
}

.close {
    color: white;
    position: absolute;
    z-index: 2;
    right: 1em;
    top: 0.5em;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ------------FOOTER -------------------------*/

.footer { 
    display: block;
    background-color: #9494b8;
    padding: 10px;
    margin-top: 50px;
}

.footer p {
    text-align: center;
    font-size: 11px;
    font-style: italic;
}
.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer a {
    color: #ffffff;
    text-decoration: none; 
}


/* ------------------- ITEM ----------------- */

/* .content_item {
   
    display: flex;
}

.item {
     
    width: 50%; 
    overflow: hidden;
}

.info {
    
    width: 50%;   
}

.item1_photo1 img {
    width: 100%;
    
}

.item1_photo {
    display: flex;
    flex-direction: row;
    

}

.item1_photo img {
    width: 50%;
    
}


.item img {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
	transition: all .5s ease-in-out;
}

.item:hover img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15); 
	transform: scale(1.15);
}*/

/* ------------------- BRAND ----------------- */

.brands {
    text-align: center;
  }

/* ------------------BUTTONS-------------------------------------- */

button a {
    color: #ffffff;
    text-decoration: none;
    
}

button{
    text-decoration: none;
    text-align: center;
    background-color: #9494b8;
    border: 2px solid #9494b8;
    border-radius: 4px;
    position: relative;
    width: 150px;
    line-height: 40px;
    /* display: inline-block; */
     
    font-weight: 600;
    overflow: hidden;
}

button:before {
    background-color: #9494b8;
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

button:hover {
    background-color: #9494b8;
    color: #ffffff;
    border-bottom: 2px solid #9494b8;
}
  
button:hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}

.button_nav a {
    color: #ffffff;
    text-decoration: none;
}

.button_nav {
    text-decoration: none;
    text-align: center;
    background-color: #9494b8;
    border: 2px solid #9494b8;
    border-radius: 4px;
    position: relative;
    width: 120px;
    line-height: 20px;
    display: inline-block;
   
    font-weight: 600;
    overflow: hidden;
}

.button_nav :before {
    background-color: #9494b8;
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

.button_nav :hover{
    background-color: #9494b8;
    color: #ffffff;
    border-bottom: 2px solid #9494b8;
}

.button_nav :hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}

/*FORMS*/

/* ITEM PAGE  */
.prod {
    display: flex;
}

.prod .info {
    width: 50%;
}

.prod .photos {
    width: 50%;
    border: 1px solid blue;
}

.prod .photos #img_default {
    width: 60%;
    margin: auto;
}

.prod .photos #img_default img {
    width: 100%;
}

.photos .img_selection {
    display: flex;
    justify-content: center;
}

.img_selection .img_vignette {
    width: 25%;
}

.img_selection .img_vignette img {
    width: 100%;
}

.item_button {
    width: 100%;
}

.item_button .liste1, .item_button .myBtn {
    width: 60%;
    display: block;
    margin: 1em auto;
}

/* LISTE */
