/* Règles tous supports + mobile */

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    background-color: #d4d4e9;
    color: #862588;  
}
    
h1, h2, h3 {
    text-align: center;
}
    
h2 {
    font-size: 40px;
}


/* SMALL -----------------------------------------------------------------*/
/* header */
.logo {
    width: 100%;
    font-size: 48px;
    margin: auto; 
    text-align: center;   
}

.logo img {
    margin: auto;
    width: 60%;
    margin-top: 15px;
} 

.title {
    font-size: 1.7em;
    margin: auto; 
    text-align: center;
} 


/* -------------- MENU SMALL --------------------------- */
#menu {
    margin-top: 2em;
}

#menu ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

#menu ul li {
    margin-top: 10px;
    list-style-type: none;
    font-size: 1.2em;
}

#menu ul li a{
    display: block;
    padding: 1em 2px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #9494b8;
    border-radius: 4px;
}

#menu ul li .submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    margin-top: 10px;
    display: none;
    margin-top: 0;
    align-items: center;
    flex-flow: column wrap;
    padding: 0;
}

#menu ul li .submenu li {
    width: 100%;
}

/* #menu ul li .submenu li:hover {
    display: block;
    list-style-type: none;
} */


/* BRANDS SMALL ---------------------------------------------------------- */

.content {
    text-align: center;
}

.content h2 {
    font-size: 1.6em;
}

/* ------------------BUTTONS brands -------------------------------------- */

button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4em;
}

button{
    width: 40%;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    background-color: #9494b8;
    border: 2px solid #9494b8;
    border-radius: 4px;
    position: relative;
    width: 150px;
    line-height: 40px;
    /* display: inline-block; */
     
    font-weight: 600;
    overflow: hidden;
}

button:before {
    background-color: #9494b8;
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

button:hover {
    background-color: #9494b8;
    color: #ffffff;
    border-bottom: 2px solid #9494b8;
}
  
button:hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}

.button_nav a {
    color: #ffffff;
    text-decoration: none;
}

.button_nav {
    text-decoration: none;
    text-align: center;
    background-color: #9494b8;
    border: 2px solid #9494b8;
    border-radius: 4px;
    position: relative;
    width: 120px;
    line-height: 20px;
    display: inline-block;
   
    font-weight: 600;
    overflow: hidden;
}

.button_nav :before {
    background-color: #9494b8;
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

.button_nav :hover{
    background-color: #9494b8;
    color: #ffffff;
    border-bottom: 2px solid #9494b8;
}

.button_nav :hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}

.img_selection button {
    width: 50%;
}



/*FORM RECHERCHE -------------------------------------------------------*/

.nav_barre {
    text-align: center;

}

.recherche {
    width: 80%;
    display: inline-block;
}

.recherche #maRecherche, .recherche select {
   
    border-radius: 4px;
    background-color: #d4d4e9;
    border: solid 3px #762877;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recherche #maRecherche:hover, .recherche select:hover {
    border: solid 3px #a01259;
}

.recherche #maRecherche:focus, .recherche select:focus {
    border: solid 3px #a01259;
    outline: none;
}

#button_recherche {
    width: 100%;
    display: block;
    margin: 1em auto;
}

/* FORM CONTACT + INSCRIPTION + CONNECT + ADMIN --------------------------------------------------- */

.form_contact, .form_signUp, .form_connect { 
    margin: auto;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
}

.form_contact h2, .form_signUp h2, .form_connect h2, .monEspace h2 {
    font-size: large;
    width: 100%;
}

.form_contact .field, .form_signUp .field, .form_connect .field {
    width: 100%;
    padding: 0;
    margin: 0.5em 0;
}

.form_contact input[type=text], 
.form_contact select, 
.form_contact textarea,
.form_signUp input[type=text],
.form_signUp input[type=password],
.form_connect input[type=text],
.form_connect input[type=password],
.form_admin input[type=text],
.note_form textarea {
    width: calc(100% - 2em - 4px);
    padding: 1em;
    font-size: 20px;
    background-color:rgba(247, 247, 247, 0.8);
    color: #666;
    border : 2px solid #4f1b50;
    border-radius: 5px;
    outline: none;
}

.form_contact .cp_input, .form_admin .select {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.form_contact .cp_input select, .form_admin .select select {
    width: 100%;
}

.form_contact .liste_contact li {
    list-style: none;
}


.cont button, .signUp button, .form_connect_btn button, .monEspace .espace button, .form_admin button, .articles button  {
    width: 100%;
    margin-top: 5%;
    outline: none;
}

.monEspace .espace button {
    width: 50%;
}

.monEspace .espace {
    text-align: center;
}

/*SELECTION -------------------------------------*/

.selection {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection h3 {
    font-size: xx-large;
}

.selection p {
    width: 34%;
} 

.selection a img {
    width: 100%;
    margin: auto;
} 

/*-------------------MODAL SMALL-------------------*/
div[id^='modal'] {
    width: 80%;
    background-color: #ffffff;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    top: 20vh;
    left: 10%;
    height: 55vh; /* Full height */
    overflow-x: hidden; /* Enable scroll if needed */
    overflow-y: auto; /* Enable scroll if needed */
}

.modal-header, .modal-footer {
    padding: 2px 0;
    position: fixed;
    background-color: #4f1b50;
    color: rgb(233, 220, 220);
    width: 80%;
}

.modal-header h2, .modal-footer h3 {
font-size: small;
}

.modal-header {
    top: 15vh;
}

.modal-footer {
    top: 75vh;
}

.modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.modal-body img {
    width: 5%;
}

.close {
    color: white;
    position: absolute;
    z-index: 2;
    right: 1em;
    top: 0.5em;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------- CONTAINER ------------------------*/


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
} 

.overlay button{ 
    width: 80%;
}

.fbook {
    text-align: center;
}


.overlay {
    position: relative;
    padding: 0;
    margin: 2px;
}

.overlay img {
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
}

.overlay p {
    width: 100%;
}


.overlay .link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #9494b8;
    left: 0px;
    bottom: 16%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.produit {
    text-align: center;
}

.produit .photo .overlay a {
    color:#862588;
    text-decoration: none;
    
}

.produit .photo .overlay a img {
}


.produit p {
    text-align: center;
    min-height: 70px;
}


/* ------------ CONTENT_ITEM -------------------------*/

.prod .info {
    text-align: center;
}

div.img_vignette.slick-slide.slick-current.slick-active {
    margin: auto;
}

button.slick-prev.slick-arrow, button.slick-next.slick-arrow, button.liste1 {
    width: 100%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    outline: none;
}


.note form .env button {
    width: 100%;
    margin: auto;
    margin-top: 5%;
}

.note form .env button:focus {
    outline: none;
}

.note_form p, .radio, #avis_label {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* ------------FOOTER-------------------------*/

#footer { 
    display: block;
    background-color: #9494b8;
    padding: 10px;
    margin-top: 50px;
}

#footer p {
    text-align: center;
    font-size: 11px;
    font-style: italic;
}

#footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

#footer li {
    padding: 2px; 
    text-align: center;
}

#footer li a{
    color: #ffffff;
    text-decoration: none;
}

/* BASKET */
#basket {
    color: #fff;
    width:80%;
    padding: 10px;
    background-color:rgba(99, 55, 110, 0.7);
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
}

#basket p {
    text-align: center;
}

#basket #panier {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#basket button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* ESPACE ADMIN */

.monEspace {
    width: 100%;
    margin: auto;
}
.articles ul li{
    list-style-type: none;
}

.articles ul {
    padding: 0;
    margin: auto;
    
}

.liste_img {
    display: flex;
    flex-direction: row;
}

.liste_img img {
    width: 30%;
}

