/* Règles tous supports + mobile */

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    background-color: #d4d4e9;
    color: #762877;  
}
    
h1, h2, h3 {
    text-align: center;
}
    
h2 {
    font-size: 40px;
}


/* SMALL -----------------------------------------------------------------*/
/* header */
.logo {
    width: 100%;
    font-size: 48px;
    margin: auto;    
}

.logo div {
    text-align: center;
}

.logo img {
    margin: auto;
    width: 60%;
    margin-top: 15px;
} 

.title {
    font-size: 36px;
    margin: auto; 
    text-align: center;
} 


/* -------------- MENU SMALL --------------------------- */
nav ol {
    width: 100%;
    list-style: none;
    padding: 0;
}

nav ol a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #9494b8;
    padding: 2px;
    border-radius: 4px;
}

nav ol li {
    padding: 2px;
    margin-top: 10px;
    list-style-type: none;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ol li ul {
    
    padding: 2px;
    margin-top: 10px;
    display: none;
    margin-top: 0;
    align-items: center;
    flex-flow: column wrap;
    padding: 0;
}

nav ol li ul li {
    width: 100%;
}

ol li ul li:hover {
    display: block;
    list-style-type: none;
}


/* BRANDS SMALL ---------------------------------------------------------- */

.content {
    text-align: center;
}

/* ------------------BUTTONS brands SMALL -------------------------------------- */

button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    
}

button{
    font-family: 'Roboto', sans-serif;
    width: 40%;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    background-color: #9494b8;
    border: 2px solid #9494b8;
    border-radius: 4px;
    position: relative;
    width: 150px;
    line-height: 40px;
    /* display: inline-block; */
     
    font-weight: 600;
    overflow: hidden;
}

button:before {
    background-color: #9494b8;
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

button:hover {
    background-color: #9494b8;
    color: #ffffff;
    border-bottom: 2px solid #9494b8;
}
  
button:hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}

.button_nav a {
    color: #ffffff;
    text-decoration: none;
}

.button_nav {
    text-decoration: none;
    text-align: center;
    background-color: #9494b8;
    border: 2px solid #9494b8;
    border-radius: 4px;
    position: relative;
    width: 120px;
    line-height: 20px;
    display: inline-block;
   
    font-weight: 600;
    overflow: hidden;
}

.button_nav :before {
    background-color: #9494b8;
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

.button_nav :hover{
    background-color: #9494b8;
    color: #ffffff;
    border-bottom: 2px solid #9494b8;
}

.button_nav :hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}



/*FORM RECHERCHE SMALL-------------------------------------------------------*/

.nav_barre {
    text-align: center;

}

.recherche {
    width: 80%;
    display: inline-block;
}


.recherche #maRecherche, .recherche select {
   
    border-radius: 4px;
    background-color: #d4d4e9;
    border: solid 3px #762877;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recherche #maRecherche:hover, .recherche select:hover {
    border: solid 3px #a01259;
}

.recherche #maRecherche:focus, .recherche select:focus {
    border: solid 3px #a01259;
    outline: none;
}

#button_recherche {
    width: 100%;
    display: block;
    margin: 1em auto;
}

/* FORM CONTACT SMALL --------------------------------------------------- */

.form_contact {
    margin: auto;
    background-color: rgba(163, 163, 167, 0.8);
    width: 85%;
    padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 17px 17px 21px -5px rgb(18, 20, 22);
    -moz-box-shadow: 17px 17px 21px -5px rgb(45, 50, 53);
    box-shadow: 17px 17px 21px -5px rgb(30, 31, 32);
}

.form_contact h2 {
    font-size: large;
}

.cp_input {
    text-align: center;
}

.form_contact input[type=text], .form_contact select, .form_contact textarea {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color:rgba(247, 247, 247, 0.8);
    color: #666;
    border : 2px solid #4f1b50;
    border-radius: 5px;
    outline: none;
    
}

.form_contact .field {
    text-align: center;
}

.form_contact .liste_contact li {
    list-style: none;
}

.cont button {
    width: 100%;
}


/*SELECTION SMALL -------------------------------------*/

.selection {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection h3 {
    font-size: xx-large;
}

.produit .photo .overlay a {

}

.selection p {
    width: 34%;
} 

.selection a img {
    width: 100%;
    margin: auto;
} 

/*-------------------MODAL SMALL-------------------*/
div[id^='modal'] {
    width: 80%;
    background-color: #ffffff;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    top: 20vh;
    left: 10%;
    height: 55vh; /* Full height */
    overflow-x: hidden; /* Enable scroll if needed */
    overflow-y: auto; /* Enable scroll if needed */
}

.modal-header, .modal-footer {
    padding: 2px 0;
    font-size: 3vh;
    position: absolute;
    background-color: #4f1b50;
    color: rgb(233, 220, 220);
    width: 100%;
}

.modal-header {
    top: 0;
}

.modal-footer {
    bottom: 0;
}

.modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.modal-body img {
    width: 5%;
}

.close {
    color: white;
    position: absolute;
    z-index: 2;
    right: 1em;
    top: 0.5em;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------- CONTAINER ------------------------*/


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
} 

.produit {
    text-align: center;
}


.overlay button{ 
    width: 80%;
}

.fbook {
    text-align: center;
}


.overlay {
    position: relative;
    padding: 0;
    margin: 2px;
}

.overlay img {
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
}

.overlay p {
    width: 100%;
}


.overlay .link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #9494b8;
    left: 0px;
    bottom: 16%;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay:hover .link {
    opacity: 0.8;
}

.produit .photo .overlay a {
    color: #ffffff;
    text-decoration: none;
}

.produit .photo .overlay a img {
    width: 80%;
}


.produit p {
    text-align: center;
}

/* ------------FOOTER SMALL-------------------------*/

.footer { 
    display: block;
    background-color: #9494b8;
    padding: 10px;
    margin-top: 50px;
}

.footer p {
    text-align: center;
    font-size: 11px;
    font-style: italic;
}
.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer li {
    padding: 2px; 
    text-align: center;
}

.footer li a{
    color: #ffffff;
    text-decoration: none;


}
/* BASKET SMALL */
 .basket {
    color: #fff;
    width:80%;
    padding: 10px;
    background-color:rgba(99, 55, 110, 0.7);
    border-radius: 5%;
    margin: auto;
}

.basket p {
    text-align: center;
}


@media (min-width:780px) {

    /* MEDIUM -----------------------------------------------------------------*/
    /* header */
    .logo {
        width: 50%;  
    }

    .logo div {
        text-align: center;
    }

    /* FORM RECHERCHE MEDIUM*/

    .recherche {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 10px;
    }

    #button_recherche {
    width: 80%;
    margin: auto;
    }

/*BRANDS MEDIUM */
div.content > div > button{
    width: 40%;

}

    /* FORM CONTACT MEDIUM */

    .form_contact {
        width: 70%;
        padding: 30px;
    }
    
    .form_contact h2 {
        font-size: xx-large;
    }
    
    .form_contact input[type=text], textarea {
        width: 90%;
    } 
    
    .form_contact .cp_input input, select {
        width: 40%;
    }

/* BASKET MEDIUM */
.basket {
    position: fixed;
    padding: 10px;
    bottom: 10%;
    width:20%;
    left:80%;
    z-index: 100;
}

.basket input, label {
    display: block;
}

/* LARGE---------------------------------------------------------------------- */

    .title {
        font-size: 34px;
    } 

}
/* LISTE */

@media (min-width:1024px) {

    /* LARGE -----------------------------------------------------------------*/
    /* header */

    .logo {
        width: 25%;
    }

    .logo img {
        width: 100%;
    }

    .title {
        font-size: 32px;
    }


/* -------------- MENU LARGE--------------------------- */
nav {
    width: 100%;
}
nav ol {
    background-color: #9494b8;
    list-style: none;
    padding: 0;
}

nav ol a{
    text-align: center;
    color: #fff;
}

nav ol li {
    padding: 2px;
    margin-top: 10px;
    list-style-type: none;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ol li ul {
    
    padding: 2px;
    margin-top: 10px;
    display: none;
    margin-top: 0;
    align-items: center;
    flex-flow: column wrap;
    padding: 0;
}

nav ol li ul li {
    width: 100%;
}

ol li ul li:hover {
    display: block;
    list-style-type: none;
}


/* FORM RECHERCHE LARGE*/

.recherche {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.recherche #maRecherche, .recherche select {
   
    width: 100%;
    padding: 10px;
    margin:10px;
}

#button_recherche {
    display: block;
width: 100%;
margin: 10px;
}

/*-------------------------------------*/

.selection {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection p {
    width: 24%;
} 

.selection a img {
    width: 100%;
    margin: auto;
} 

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 15px;
    height: 35px;
    line-height: 260%;
    display: inline-block;
}

ol a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li {
    float: left;
    width: 180px;
    height: 40px;
    border-right: 1px dashed  #762877;  
}

ol > li:first-child {
    border-left: 1px dashed #762877;
}

ol > li:hover {
    color: #ffffff; 
}

ol > li:hover > a {
    color: #ffffff;
   background-color: #762877;   
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
    color: #762877;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {
    background-color: #b3b3cc;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #762877;
}

ol > li > ul > li:hover {
    background-color: #963597;  
}

/* ------------------- CONTENT ------------------------*/

/* .content {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
} */


/* ------------------- CONTAINER ------------------------*/


.container {
    width: 100%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.content_item {
}

.produit  {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.produit .info {
    width: 50%;
}

.produit .photo {
    width: 100%;
    
}

.overlay button{ 
    width: 100%;
}


.overlay {
    position: relative;
    padding: 0;
    margin: 18px;
}

.overlay img {
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
}

.overlay p {
    width: 100%;
}


.overlay .link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #9494b8;
    left: 0px;
    bottom: 27%;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay:hover .link {
    opacity: 0.8;
}

.produit .photo .overlay a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.produit .photo .overlay a img {
    width: 100%;
}

.produit p {
    text-align: center;
}

.form {
    margin: auto;
}

.note form {
    display: flex;
    flex-direction: column;
}

.note p, .radio, label, textarea {
    margin: auto;
}

.env {
    width: 100%;
}

.env button {
    width: 28%;
    display: block;
    margin: 1em auto;
}

/* FORM CONTACT LARGE */

.form_contact {
    width: 50%;
    padding: 50px;
    margin-top: 80px;
    margin:auto;
    margin-bottom: 80px;
}

.form_contact h2 {
    font-size: xx-large;
}

.form_contact input[type=text], textarea {
    width: 95%;
} 

.form_contact .cp_input {
}

.form_contact .cp_input input, select {
    text-align: center;
    width: 40%;
}

/*-------------------MODAL LARGE -------------------*/
div[id^='modal'] {
    width: 60%;
    background-color: #ffffff;
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 20%;
    top: 20vh;
    height: 55vh; /* Full height */
    overflow-x: hidden; /* Enable scroll if needed */
    overflow-y: auto; /* Enable scroll if needed */
}

.modal-header, .modal-footer {
    padding: 2px 0;
    position: absolute;
    background-color: #4f1b50;
    color: rgb(233, 220, 220);
    width: 100%;
}

.modal-header {
    top: 0;
}

.modal-footer {
    bottom: 0;
}

.modal-body {
    width: 100%;
    display: flex;
    justify-items: center;
}

.modal-body img {
    width: 25%;
}

.close {
    color: white;
    position: absolute;
    z-index: 2;
    right: 1em;
    top: 0.5em;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ------------FOOTER LARGE -------------------------*/

.footer { 
    width: 100%;
    display: block;
    background-color: #9494b8;
    padding: 10px;
    margin-top: 50px;
}

.footer p {
    text-align: center;
    font-size: 11px;
    font-style: italic;
}
.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer a {
    color: #ffffff;
    text-decoration: none; 
}


/* ------------------- ITEM ----------------- */

/* .content_item {
   
    display: flex;
}

.item {
     
    width: 50%; 
    overflow: hidden;
}

.info {
    
    width: 50%;   
}

.item1_photo1 img {
    width: 100%;
    
}

.item1_photo {
    display: flex;
    flex-direction: row;
    

}

.item1_photo img {
    width: 50%;
    
}


.item img {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
    box-shadow: 3px 4px 5px 0px rgba(179,179,204,1);
	transition: all .5s ease-in-out;
}

.item:hover img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15); 
	transform: scale(1.15);
}*/

/* ------------------- BRAND ----------------- */

.brands {
    text-align: center;
  }

div.content > div > button {
    width: 15%;
}
/* ------------------BUTTONS LARGE -------------------------------------- */



/* ITEM PAGE LARGE */
.prod {
    display: flex;
}

.prod .info {
    width: 50%;
    text-align: center;
    margin-top: 10%;
}

.prod .photos {
    width: 50%;
    margin-top: 5%;
    
}

.prod .photos #img_default {
    width: 60%;
    margin: auto;
}

.prod .photos #img_default img {
    width: 100%;
}

.photos .img_selection {
    display: flex;
    justify-content: center;
}

.img_selection .img_vignette {
    width: 25%;
}

.img_selection .img_vignette img {
    width: 100%;
}

.item_button {
    width: 100%;
}

.item_button .liste1, .item_button .myBtn {
    width: 60%;
    display: block;
    margin: 1em auto;
}

/* LISTE */

/* BASKET LARGE */
.basket {
    position: fixed;
    bottom: 20%;
    width:10%;
    left:90%;
    z-index: 100;
    background-color:rgba(99, 55, 110, 0.7);
    border-radius: 6%;
}

.basket input, label {
    display: block;
}

}