@media (min-width:780px) {

    /* MEDIUM -----------------------------------------------------------------*/
    /* header */
    .logo {
        width: 50%;  
    }

    .title {
        font-size: 1.7px;
    } 

    /* menu */
    #menu ul li a{
        padding: 0.5em 2px;
    }

    /* FORM RECHERCHE MEDIUM*/

    .recherche {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 10px;
    }

    #button_recherche {
        width: 100%;
        margin: auto;
    }

    /* FORM CONTACT + INSCRIPTION + CONNECT + ADMIN -MEDIUM-------------------------------------------------- */

    /*BRANDS MEDIUM */
    div.content > div > button{
        width: 45%;

    }

    /* ------------------- CONTAINER ------------------------*/


    .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    } 

    .produit {
        width: 45%;
    }


    .overlay button{ 
        width: 100%;
    }


    .overlay {
        position: relative;
        padding: 0;
        margin: 2px;
    }


    .produit .photo .overlay a img {
        width: 100%;
        margin: auto;
        
    }

    .produit p {
        text-align: center;
    }


    /* FORM CONTACT MEDIUM */

    .form_contact {
        width: 70%;
        padding: 1.5em;
    }
    
    .form_contact h2 {
        font-size: 1em;
    }
    
    .form_contact .cp_input {
        width: calc(100% + 2px);
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    #cp {
        width: calc(100% - 3em);
    }

    .cont button {
        margin-bottom: 20%;
    }

    /* BASKET MEDIUM */
    #basket {
        position: fixed;
        padding: 10px;
        bottom: 10%;
        width: 25%;
        right: 0;
        z-index: 7000;
    }

    /* ------------ CONTENT_ITEM -------------------------*/


    .img_vignette img {
        width: 80%;
        margin: auto;
    } 

    div.img_vignette.slick-slide.slick-current.slick-active {
        margin: 0;
    }

    button.slick-prev {
        border-right: calc(7.5vw) solid #9494b8;
        position: absolute;
        z-index: 5000;
        left: -7%;
        top: 38%;
    }
    
    button.slick-next {
        border-left: calc(7.5vw) solid #9494b8;
        position: absolute;
        z-index: 5000;
        right: -7%;
        top: 38%;
    }

    .note_form textarea {
        width: 80%;
        display: block;
        margin: auto;
    }


    .note form .env button {
        display: block;
        width: 84%;
    }

    .note form .env button:focus {
        outline: none;
    }

    .note_form p, .radio, #avis_label {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

        
}